
<!--景点门票-->

<!--顶部tab切换-->
<div class="ads-title-wrap">
    <div class="ads-title-bline"></div>
    <ul>
        <li class="ads-title-item current">景点门票<i></i></li>
    </ul>
    <div class="ads-more-wrap">
        <div>更多</div>
        <div class="ads-more-icon"></div>
    </div>
</div>

<ul class="ads-sub-title-wrap">
    <li class="ads-sub-title-item current">深圳</li>
    <li class="ads-sub-title-item">珠海</li>
    <li class="ads-sub-title-item">香港</li>
    <li class="ads-sub-title-item">东莞</li>
    <li class="ads-sub-title-item">上海</li>
    <li class="ads-sub-title-item">中山</li>
</ul>

<ul class="ads-inner-wrap ticket">
    <li class="ad-one-wrap first-child">
        <img src="../static/img/index/h13.jpg" alt="">
        <div class="ad-one-shadow"></div>
        <p class="ad-one-text">香港愉景湾</p>
    </li>
    <li class="ad-one-wrap">
        <img src="<%= staticConfig.img.h10 %>" alt="">
        <div class="ad-one-shadow"></div>
        <p class="ad-one-text">香港愉景湾</p>
    </li>
    <li class="ad-one-wrap">
        <img src="<%= staticConfig.img.h11 %>" alt="">
        <div class="ad-one-shadow"></div>
        <p class="ad-one-text">广州白天鹅酒店</p>
    </li>
    <li class="ad-one-wrap">
        <img src="<%= staticConfig.img.h14 %>" alt="">
        <div class="ad-one-shadow"></div>
        <p class="ad-one-text">澳门JW万豪酒店</p>
    </li>
    <li class="ad-one-wrap">
        <img src="<%= staticConfig.img.h15 %>" alt="">
        <div class="ad-one-shadow"></div>
        <p class="ad-one-text">香港愉景湾</p>
    </li>
    <li class="ad-one-wrap last-child">
        <img src="<%= staticConfig.img.h12 %>" alt="">
        <div class="ad-one-shadow"></div>
        <p class="ad-one-text">香港愉景湾</p>
    </li>
</ul>
   