
<!--当季热销-->

<div class="ads-wrap">
    <div class="ads-title-wrap">
        <div class="ads-title-bline"></div>
        <div class="ads-title-item current">当季热销<i></i></div>
    </div>

    <div class="ads-inner-wrap">
        <div class="ad-one-wrap">
            <img src="<%= staticConfig.img.h1 %>" alt="">
            <div class="ad-one-shadow"></div>
            <div class="ad-one-text">香港愉景湾</div>
        </div>
        <div class="ad-one-wrap">
            <img src="<%= staticConfig.img.h2 %>" alt="">
            <div class="ad-one-shadow"></div>
            <div class="ad-one-text">华新索菲特酒店</div>
        </div>
        <div class="ad-one-wrap">
            <img src="<%= staticConfig.img.h3 %>" alt="">
            <div class="ad-one-shadow"></div>
            <div class="ad-one-text">广州白天鹅酒店</div>
        </div>
        <div class="ad-one-wrap">
            <img src="<%= staticConfig.img.h4 %>" alt="">
            <div class="ad-one-shadow"></div>
            <div class="ad-one-text">澳门JW万豪酒店</div>
        </div>
        <div class="ad-one-wrap no-mr">
            <img src="<%= staticConfig.img.h5 %>" alt="">
            <div class="ad-one-shadow"></div>
            <div class="ad-one-text">香港愉景湾</div>
        </div>
    </div>
</div>