
<!--促销特卖-->

<div class="ads-wrap">

    <!--顶部tab切换-->
    <div class="ads-title-wrap">
        <div class="ads-title-bline"></div>
        <div class="ads-title-item current">促销特卖<i></i></div>
        <div class="ads-more-wrap">
            <div>更多</div>
            <div class="ads-more-icon"></div>
        </div>
    </div>

    <div class="ads-inner-wrap width-960 height-300">
        
        <div class="ad-one-wrap height-140">
            <img src="<%= staticConfig.img.h18 %>" alt="">
        </div>
        <div class="ad-one-wrap height-140">
            <img src="<%= staticConfig.img.h19 %>" alt="">
        </div>
        <div class="ad-one-wrap height-140">
            <img src="<%= staticConfig.img.h20 %>" alt="">
        </div>
        <div class="ad-one-wrap height-140">
            <img src="<%= staticConfig.img.h21 %>" alt="">
        </div>
        <div class="ad-one-wrap height-140">
            <img src="<%= staticConfig.img.h18 %>" alt="">
        </div>
        <div class="ad-one-wrap height-140">
            <img src="<%= staticConfig.img.h19 %>" alt="">
        </div>
        <div class="ad-one-wrap height-140">
            <img src="<%= staticConfig.img.h20 %>" alt="">
        </div>
        <div class="ad-one-wrap height-140">
            <img src="<%= staticConfig.img.h21 %>" alt="">
        </div>
    
    </div>

    <div class="ads-inner-wrap width-220 height-300">
        <div class="ad-one-wrap">
        </div>
    </div>
   
</div>