
<!--景点门票-->

<div class="ads-wrap">

    <!--顶部tab切换-->
    <div class="ads-title-wrap">
        <div class="ads-title-bline"></div>
        <div class="ads-title-item current">景点门票<i></i></div>
        <div class="ads-more-wrap">
            <div>更多</div>
            <div class="ads-more-icon"></div>
        </div>
    </div>

    <div class="ads-sub-title-wrap">
        <div class="ads-sub-title-item current">深圳</div>
        <div class="ads-sub-title-item">珠海</div>
        <div class="ads-sub-title-item">香港</div>
        <div class="ads-sub-title-item">东莞</div>
        <div class="ads-sub-title-item">上海</div>
        <div class="ads-sub-title-item">中山</div>
    </div>

    <div class="ads-inner-wrap width-480 height-440">
        <div class="ad-one-wrap">
            <img src="<%= staticConfig.img.h13 %>" alt="">
        </div>
    </div>

    <div class="ads-inner-wrap width-480 height-440">
        <div class="ad-one-wrap">
            <img src="<%= staticConfig.img.h10 %>" alt="">
            <div class="ad-one-shadow"></div>
            <div class="ad-one-text">香港愉景湾</div>
        </div>
        <div class="ad-one-wrap">
            <img src="<%= staticConfig.img.h11 %>" alt="">
            <div class="ad-one-shadow"></div>
            <div class="ad-one-text">广州白天鹅酒店</div>
        </div>
        <div class="ad-one-wrap">
            <img src="<%= staticConfig.img.h14 %>" alt="">
            <div class="ad-one-shadow"></div>
            <div class="ad-one-text">澳门JW万豪酒店</div>
        </div>
        <div class="ad-one-wrap">
            <img src="<%= staticConfig.img.h15 %>" alt="">
            <div class="ad-one-shadow"></div>
            <div class="ad-one-text">香港愉景湾</div>
        </div>
    
    </div>

    <div class="ads-inner-wrap width-220 height-440">
        <div class="ad-one-wrap">
            <img src="<%= staticConfig.img.h12 %>" alt="">
        </div>
    </div>
   
</div>