
<!--banner部分-->
<%= banner %>

<!--搜索框部分-->
<%= search %>

<div class="ads-main-outer">
    <!--当季热销-->
    <%= hotSales %>

    <!--国内酒店、国际酒店-->
    <%= hotelRecommands %>
    
    <!--景点门票-->
    <%= ticket %>

</div>
