<div class="msg-item-box">
	<div class="msg-item">
		<i><%= startDate %>至</i>
		<i><%= endDate %></i>
		<i><%= addType %></i>
		<i><%= addNum %>份</i>
		<i><%= dayCount %>日</i>
		<i>￥<%= singleTotal %></i>
		<b class="del-msg-item fr" add-id="<%= count %>" add-category="<%= addCategory %>" add-start="<%= startDate %>" add-count="<%= dayCount %>" add-num="<%= addNum %>">x</b>
	</div>
</div>
