<div class="msg-item-box">
	<div class="msg-item">
		<i><%= startDate %>至</i>
		<i><%= endDate %></i>
		<i><%= addType %></i>
		<i><%= addNum %>份</i>
		<i><%= dayCount %>日</i>
		<i>￥<%= singleTotal %></i>
		<span class="del-msg-item layui-layer-setwin" add-id="<%= count %>" add-category="<%= addCategory %>" add-start="<%= startDate %>" add-count="<%= dayCount %>" add-num="<%= addNum %>">
			<a class="layui-layer-ico layui-layer-close1" href="javascript:;"></a>
		</span>
	</div>
</div>
