<div class="page-head">
	<div class="jl-logo"></div>
	<div class="user-options">
		<ul>
			<li><%= customerUser.customerUserName %>，您好</li>
			<li class="sign-out">退出</li>
			<li>帮助中心</li>
			<li>|</li>
			<li class="hot-line">0755-33397777</li>
		</ul>
	</div>
</div>
<div class="page-content clearfix">
	<div class="content-head">
		<ul>
			<li>1.填写信息</li>
			<li></li>
			<li>2.确认支付</li>
			<li></li>
			<li>3.预订成功</li>
		</ul>
	</div>
	<div class="order-content">
		<div class="content-left">
			<form action="" id="orderForm" action="">
				<ul>
					<!--预订信息-->
					<li>
						<span>预订信息</span>
						<div class="order-msg">
							<ul>
								<li>入离时间:</li>
								<li class="start-date"><%= startDate %></li>
								<li>至</li>
								<li class="end-date"><%= endDate %></li>
								<li class="day-count"><%= dateNum %>晚</li>
							</ul>
							<ul>
								<li>房间数量:</li>
								<li>
									<i class="reduce">-</i>
									<input name="roomNum" id="room-num" value="<%= roomNum %>" readonly>
									<i class="increase">+</i>
								</li>
								<li class="order-room-max">最多可预订
									<%= stock < 7 ? stock : 7%>
									间（该房型每间最多入住
									<%= hotelPrice.maxPersonNum %>
									人）
								</li>
							</ul>
						</div>
					</li>
					<!--加早-->
					<li class="breakfast-msg-box need-reload-box"></li>
					<!--加床-->
					<li class="bed-msg-box need-reload-box"></li>
					<!--加宽带-->
					<li class="network-msg-box need-reload-box"></li>
					<!--入住信息-->
					<li class="guest-msg-box need-reload-box"></li>
					<!--个性化要求-->
					<li>
						<span>个性化要求</span>
						<div class="personal-requirement">
							<div class="personal-content">
								<!--<p>请直接勾选喜好与要求，是否可满足以酒店确认为准</p>-->
								<% for(var i = 0;i < specialReq.length;i++){ %>
								<label><input name="specialReq" type="checkbox" value="<%= specialReq[i].optionname %>"><%= specialReq[i].optionname %></label>
								<% } %>
								<p class="personal-special">请直接勾选您的要求，我们会及时通知酒店并尽量协助安排，但要视酒店情况，不能确保满足</p>
							</div>
						</div>
					</li>
					<!--确认方式-->
					<li>
						<span>确认方式</span>
						<div class="confirm-way">
							<div class="confirm-select">
								<label>
									<input type="radio" class="other-confirm-way" name="checkType" value="在线确认" checked>在线确认
								</label>
								<label>
									<input type="radio" class="other-confirm-way" name="checkType" confirm-way="email" value="电子邮件确认">电子邮件确认
								</label>
								<label>
									<input type="radio" class="other-confirm-way" name="checkType" confirm-way="fax" value="传真确认">传真确认
								</label>
								<label>
									<input type="radio" class="other-confirm-way" name="checkType" confirm-way="phone" value="短信确认">短信确认
								</label>
								<ul class="confirm-way-msg">
									<li>
										<span>Email</span>
										<input type="text" name="voucherEmail" id="email" placeholder="邮箱">
										<i>*</i>
									</li>
									<li>
										<span>传真</span>
										<input type="text" name="voucherFax" id="fax" placeholder="传真号码">
										<i>*</i>
									</li>
									<li>
										<span>手机</span>
										<input type="text" name="voucherMobile" id="phone" placeholder="手机号码">
										<i>*</i>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<!--结算信息-->
					<li>
						<span>结算信息</span>
						<div class="balance-msg">
							<ul>
								<li>
									<span>客户订单号</span>
									<input name="customerOrderCode" type="text">
								</li>
								<li>
									<span>结算方式</span>
                  <% if(paymentType == 1){ %>
                  <p><%= paymentTermName[distributor.paymentTerm -1] %></p>
                  <% }else{ %>
									<select name="paymentTermSon" id="balance-way">
										<% if(distributor.paymentTerm == 0){ %>
										<option value="0">单结</option>
										<% }else{ %>
                    <option value="0">单结</option>
										<option value="<%= distributor.paymentTerm %>">
                      <%= paymentTermName[distributor.paymentTerm + 1] %>
                    </option>
                    <% } %>
                  </select>
                  <% } %>
								</li>
                <% if(distributor.paymentTerm == 0){ %>
								<li>
									<span>使用预收款</span>
									<input id="use-per-payment" name="willUsedBalance" type="text">
									<b class="per-payment-prompt"></b>
								</li>
                <% } %>
								<li>
									<span>剩余预收款</span>
									<p>RMB <b><%= balance %></b> 元</p>
								</li>
							</ul>
						</div>
					</li>
					<!--温馨提示-->
					<li>
						<span>温馨提示</span>
						<div class="kindly-tips">
							<ul>
								<li>
									<p class="kindly-tips1">取消条款</p>
									<p class="kindly-tips2"><%= hotelPrice.cancellationDesc %></p>
								</li>
								<li>
									<p class="kindly-tips1">入住离店时间</p>
									<p class="kindly-tips2">酒店入住时间最早为14:00, 入住最晚时间为24:00</p>
								</li>
							</ul>
						</div>
					</li>
				</ul>
        <input type="hidden" name="staticInfoId" value="<%= staticInfo.staticInfoId %>">
        <input type="hidden" name="supplierId" value="<%= supplierId %>">
        <input type="hidden" name="hotelName" value="<%= staticInfo.infoName %>">
        <input type="hidden" name="adultNum" value="<%= hotelPrice.maxPersonNum %>">
        <input type="hidden" name="childrenNum" value="<%= childrenNum %>">
        <input type="hidden" name="startDate" value="<%= startDate %>">
        <input type="hidden" name="endDate" value="<%= endDate %>">
        <input type="hidden" name="dateNum" value="<%= dateNum %>">
        <input type="hidden" name="toatlBasePrice" value="<%= toatlBasePrice %>">
        <input type="hidden" name="payTotalMoney" value="<%= payTotalMoney %>">
        <input type="hidden" name="totalNowPrice" value="<%= nowTotalMoney %>">
        <input type="hidden" name="rateType" value="<%= rateType %>">
        <input type="hidden" name="roomName" value="<%= hotelPrice.roomName %>">
        <input type="hidden" name="breakFastName" value="<%= hotelPrice.breakFastName %>">
        <input type="hidden" name="cancellationDesc" value="<%= hotelPrice.cancellationDesc %>">
        <input type="hidden" name="paymentType" value="<%= paymentType %>">
        <input type="hidden" name="paymentTerm" value="<%= distributor.paymentTerm %>">
			</form>
		</div>
		<div class="content-right">
			<div class="hotel-msg-top">
				<h5 class="hotel-name">你的选择</h5>
				<div class="hotel-logo">
					<img src="<%= picSrcThumb %>" onerror=this.src="../static/img/nopic.png" alt="">
				</div>
				<div class="hotel-msg-right">
					<div class="hotel-name-Chinese"><%= staticInfo.infoName %></div>
				</div>
				<p>经济房[两份早餐]</p>
				<ul>
					<li>入住日期
						<i><%= startDate %></i>
					</li>
					<li>退房日期
						<i><%= endDate %></i>
					</li>
				</ul>
			</div>
			<div class="hotel-msg-mid">
				<ul class="clearfix">
					<li class="hotel-msg-breakfast hotel-msg clearfix" add-category="add-breakfast">
						<span>加早</span>
						<div class="hotel-breakfast-box hotel-item-box" add-category="add-breakfast">
							<!--这里放加早餐的条目-->
						</div>
					</li>
					<li class="hotel-msg-bed hotel-msg clearfix" add-category="add-bed">
						<span>加床</span>
						<div class="hotel-bed-box hotel-item-box" add-category="add-bed">
							<!--这里放加床条目-->
						</div>
					</li>
					<li class="hotel-msg-network hotel-msg clearfix" add-category="add-network">
						<span>加宽带</span>
						<div class="hotel-network-box hotel-item-box" add-category="add-network">
							<!--这里放加宽带条目-->
						</div>
					</li>
				</ul>
			</div>
			<div class="hotel-msg-bot">
				<span class="need-to-pay">需支付</span>
				<ul>
					<li>
						<p class="fl">房费</p>
						<p class="fr" id="roomCost"><%= payTotalMoney %></p>
					</li>
					<li>
						<p class="fl">税和服务费</p>
						<p class="fr" id="extraCost"><%= extraPersonFees %></p>
					</li>
					<li>
						<span class="fl">总价</span>
						<i><%= agreement.currency %></i>
						<p class="fr total-pay" id="totalPay"><%= payTotalMoney + extraPersonFees %></p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="payment-confirm">
	<button>下一步，支付</button>
</div>
