
<!--促销特卖、本月热销-->

<div class="ads-wrap">

    <!--顶部tab切换-->
    <div class="ads-title-wrap">
        <div class="ads-title-bline"></div>
        <ul>
            <li class="ads-title-item current">促销特卖<i></i></li>
        </ul>
        <div class="ads-more-wrap">
            <div>更多</div>
            <div class="ads-more-icon"></div>
        </div>
    </div>

    <ul class="ads-inner-wrap promotion">
        <li class="ad-one-wrap">
            <img src="<%= staticConfig.img.h18 %>" alt="">
            <div class="ad-mask">
                <div class="ad-text-above-mask">
                    <div class="text-1">桂林</div>
                    <div class="text-2">桂林山水甲天下</div>
                </div>
            </div>
        </li>
        <li class="ad-one-wrap">
            <img src="<%= staticConfig.img.h19 %>" alt="">
            <div class="ad-mask">
                <div class="ad-text-above-mask">
                    <div class="text-1">厦门</div>
                    <div class="text-2">海厦文艺小城</div>
                </div>
            </div>
        </li>
        <li class="ad-one-wrap">
            <img src="<%= staticConfig.img.h20 %>" alt="">
            <div class="ad-mask">
                <div class="ad-text-above-mask">
                    <div class="text-1">丽江</div>
                    <div class="text-2">水乡艳遇之都</div>
                </div>
            </div>
        </li>
        <li class="ad-one-wrap">
            <img src="<%= staticConfig.img.h21 %>" alt="">
            <div class="ad-mask">
                <div class="ad-text-above-mask">
                    <div class="text-1">三亚</div>
                    <div class="text-2">被称为“东方夏威夷”</div>
                </div>
            </div>
        </li>
        <li class="ad-one-wrap">
            <img src="<%= staticConfig.img.h18 %>" alt="">
            <div class="ad-mask">
                <div class="ad-text-above-mask">
                    <div class="text-1">桂林</div>
                    <div class="text-2">桂林山水甲天下</div>
                </div>
            </div>
        </li>
        <li class="ad-one-wrap">
            <img src="<%= staticConfig.img.h19 %>" alt="">
            <div class="ad-mask">
                <div class="ad-text-above-mask">
                    <div class="text-1">厦门</div>
                    <div class="text-2">海厦文艺小城</div>
                </div>
            </div>
        </li>
        <li class="ad-one-wrap">
            <img src="<%= staticConfig.img.h20 %>" alt="">
            <div class="ad-mask">
                <div class="ad-text-above-mask">
                    <div class="text-1">丽江</div>
                    <div class="text-2">水乡艳遇之都</div>
                </div>
            </div>
        </li>
        <li class="ad-one-wrap">
            <img src="<%= staticConfig.img.h21 %>" alt="">
            <div class="ad-mask">
                <div class="ad-text-above-mask">
                    <div class="text-1">三亚</div>
                    <div class="text-2">被称为“东方夏威夷”</div>
                </div>
            </div>
        </li>
    </ul>

    <div class="ads-inner-wrap top-sales">
        <p class="m-hot-sale-title">本月热销</p>
        <ul class="m-hot-sale-wrap">
            <li class="m-hot-sale-item">
                <div class="m-hot-sale-img">
                    <img src="<%= staticConfig.img.h22 %>" alt="">
                    <div class="hot-sales-flag">
                        <div class="hot-sales-rank">1</div>
                    </div>
                </div>
                <div class="m-hot-sale-text">广州长隆旅游度假区广州长隆旅游度假区</div>
            </li>
            <li class="m-hot-sale-item">
                <div class="m-hot-sale-img">
                    <img src="<%= staticConfig.img.h23 %>" alt="">
                    <div class="hot-sales-flag">
                        <div class="hot-sales-rank">2</div>
                    </div>
                </div>
                <div class="m-hot-sale-text">广州长隆旅游度假区</div>
            </li>
            <li class="m-hot-sale-item">
                <div class="m-hot-sale-img">
                    <img src="<%= staticConfig.img.h24 %>" alt="">
                    <div class="hot-sales-flag">
                        <div class="hot-sales-rank">3</div>
                    </div>
                </div>
                <div class="m-hot-sale-text">广州长隆旅游度假区</div>
            </li>
        </ul>
    </div>
   
</div>