<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
    <meta name="renderer" content="webkit" />
    <link rel="shortcut icon" href="<%= staticConfig.img.favicon %>" />
    <link rel="bookmark" href="<%= staticConfig.img.favicon %>" type="image/x-icon"　/>

    <title><%= pageTitle %></title>
    
    <!--[if lt IE 10]>
        <script src="<%= staticConfig.js.html5shiv %>"></script>
    <![endif]-->
</head>

<body>

    <!--[if lt IE 9]>
        <script src="<%= staticConfig.js.es5_shim %>"></script>
        <script src="<%= staticConfig.js.es5_sham %>"></script>
        <script src="<%= staticConfig.js.respond %>"></script>
    <![endif]-->

    <!--引入页面头部，导航栏-->
    <%= header %>

    <main>
        <!--引入页面主体-->
        <%= content %>
    </main>

    <!--引入页面页脚部分-->
    <%= footer %>

    <script src="<%= staticConfig.js.jquery %>"></script>

    <!--[if lt IE 10]>
        <script src="https://cdn.bootcss.com/jquery-placeholder/2.3.1/jquery.placeholder.min.js"></script>
        <script>
            $(document).ready(function(){
                $('input').placeholder();
            })
        </script>
    <![endif]-->
    
    <!--百度统计代码-->
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?22096b53c8d0373a8566854fdd8852f0";
            var s = document.getElementsByTagName("script")[0]; 
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    
</body>

</html>