<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
    <meta name="renderer" content="webkit" />

    <title><%= pageTitle %></title>
    
    <link rel="stylesheet" href="<%= venderConfig.css.reset %>">
    <link rel="stylesheet" href="<%= venderConfig.css.fonts %>">
    <!--[if lt IE 10]>
        <script src="<%= venderConfig.js.html5shiv %>"></script>
    <![endif]-->
</head>

<body>

    <!--[if lt IE 9]>
        <script src="<%= venderConfig.js.es5_shim %>"></script>
        <script src="<%= venderConfig.js.es5_sham %>"></script>
        <script src="<%= venderConfig.js.respond %>"></script>
        <script>
            (function() {
            var testObject = {};
            if (!(Object.setPrototypeOf || testObject.__proto__)) {
                var nativeGetPrototypeOf = Object.getPrototypeOf;

                Object.getPrototypeOf = function(object) {
                    if (object.__proto__) {
                        return object.__proto__;
                    } else {
                        return nativeGetPrototypeOf.call(Object, object);
                    }
                }
            }
            })();
        </script>
    <![endif]-->

    <!--引入页面头部，导航栏-->
    <%= header %>

    <div id="mainContent">
        <!--引入页面主体-->
        <%= content %>
    </div>

    <!--引入页面页脚部分-->
    <%= footer %>

    <script src="<%= venderConfig.js.jquery %>"></script>

    <!--[if lt IE 9]>
        <script src="https://cdn.bootcss.com/jquery-placeholder/2.3.1/jquery.placeholder.min.js"></script>
        <script>
            $(document).ready(function(){
                $('input').placeholder();
            })
        </script>
    <![endif]-->
    
</body>

</html>