<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
    <meta name="renderer" content="webkit" />

    <title><%= pageTitle %></title>
    
    <link rel="stylesheet" href="<%= verderConfig.css.reset %>">
    <!--[if lt IE 10]>
        <script src="<%= verderConfig.js.html5shiv %>"></script>
    <![endif]-->
</head>

<body>

    <!--[if lt IE 9]>
        <script src="<%= verderConfig.js.respond %>"></script>
    <![endif]-->

    <!--引入页面头部，导航栏-->
    <%= header %>

    <div id="mainContent">
        <!--引入页面主体-->
        <%= content %>
    </div>

    <!--引入页面页脚部分-->
    <%= footer %>

    <script src="<%= verderConfig.js.jquery %>"></script>
</body>

</html>